apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clicker
      tier: backend
      track: stable
  template:
    metadata:
      labels:
        app: clicker
        tier: backend
        track: stable
    spec:
      containers:
        - name: backend
          image: ghcr.io/nocxxy/info910:backend-latest
          imagePullPolicy: Always # IMPORTANT : Ajouter cette ligne
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URL
              value: "mongodb://mongodb:27017/clickdb"
            - name: PORT
              value: "5000"
