apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      app: clicker
      tier: backend
      track: stable
  template:
    metadata:
      labels:
        app: clicker
        tier: backend
        track: stable
    spec:
      containers:
        - name: backend
          image: ghcr.io/nocxxy/info910:backend-latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: MONGO_URL
              value: "mongodb://admin:password@mongodb:27017/clickdb?authSource=admin"
            - name: PORT
              value: "3000"
