apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: clicker
    tier: backend
    track: stable
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
