apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: clicker
      tier: frontend
      track: stable
  template:
    metadata:
      labels:
        app: clicker
        tier: frontend
        track: stable
    spec:
      containers:
        - name: nginx
          image: frontend-local:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
          lifecycle:
            preStop:
              exec:
                command: ["/usr/sbin/nginx", "-s", "quit"]
