apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: clicker
    tier: frontend
    track: stable
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
