apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
data:
  mongodb-user: bW9uZ291c2Vy   # "mongouser" encodé en base64
  mongodb-password: c2VjdXJlcGFzcw==   # "securepass" encodé en base64
