name: Build Frontend Image

on:
  push:
    branches:
      - master
      - feat/build-pipelines
    paths:
      - '.github/workflows/**'
      - 'frontend/**'
  pull_request:
    branches:
      - master
      - feat/build-pipelines
    paths:
      - '.github/workflows/**'
      - 'frontend/**'

env:
  REGISTRY: ghcr.io
  REPO_NAME: ${{ github.repository }}

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Get version from package.json
        id: get_version
        run: |
          VERSION=$(jq -r .version frontend/package.json)
          echo "IMAGE_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Log in with PAT
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build & Push frontend image
        run: |
          IMAGE_NAME=${{ env.REGISTRY }}/${{ env.REPO_NAME }}/frontend:${{ env.IMAGE_VERSION }}
          docker build -t $IMAGE_NAME ./frontend
          docker push $IMAGE_NAME