name: Build Frontend Image

on:
  push:
    branches:
      - master
      - feat/build-pipelines
    paths:
      - '.github/workflows/**'
      - 'frontend/**'
  pull_request:
    branches:
      - master
      - feat/build-pipelines
    paths:
      - '.github/workflows/**'
      - 'frontend/**'

env:
  REGISTRY: ghcr.io
  REPO_NAME: ${{ github.repository }}

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Extract version from package.json
        run: |
          echo "IMAGE_VERSION=$(jq -r .version frontend/package.json)" >> $GITHUB_ENV

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: nocxxy
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPO_NAME }}/frontend

      - name: Build & Push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPO_NAME }}/frontend:$IMAGE_VERSION
            ${{ env.REGISTRY }}/${{ env.REPO_NAME }}/frontend:latest
          labels: ${{ steps.meta.outputs.labels }}